<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waterelephant.mapper.SysUuidMapper" >
  <resultMap id="BaseResultMap" type="com.waterelephant.entity.SysUuid" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_uuid
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="getUuid" resultType="java.lang.String" parameterType="java.lang.Long" >
    select uuid from sys_uuid
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_uuid
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.waterelephant.entity.SysUuid" >
    insert into sys_uuid (user_id, uuid)
    values (#{userId,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR})
  </insert>

  <insert id="insertOrUpdate" parameterType="com.waterelephant.entity.SysUuid" >
    REPLACE INTO  sys_uuid (user_id, uuid)
    values (#{userId,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.waterelephant.entity.SysUuid" >
    insert into sys_uuid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.waterelephant.entity.SysUuid" >
    update sys_uuid
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.waterelephant.entity.SysUuid" >
    update sys_uuid
    set uuid = #{uuid,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>